/*form styles*/

#msform {
    text-align: center;
    position: relative;
    margin-top: 20px;
}

#msform fieldset .form-card {
    background: white;
    border: 0 none;
    border-radius: 0px;
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
    padding: 20px 40px 30px 40px;
    box-sizing: border-box;
    width: 94%;
    margin: 0 3% 20px 3%;
    /*stacking fieldsets above each other*/
    position: relative;
}

#msform fieldset {
    background: transparent;
    border: 0 none;
    border-radius: 0.5rem;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding-bottom: 20px;
    position: relative;
}


/*Hide all except first fieldset*/

#msform fieldset:not(:first-of-type) {
    display: none;
}

#msform fieldset .form-card {
    text-align: left;
    color: #9E9E9E;
}

#msform input,
#msform textarea {
    padding: 0px 8px 4px 8px;
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0px;
    margin-bottom: 20px;
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #dc9d3f;
    font-size: 16px;
    letter-spacing: 1px;
}

#msform input:focus,
#msform textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: none;
    font-weight: bold;
    border-bottom: 2px solid #dc9d3f;
    outline-width: 0;
}


/*Blue Buttons*/

#msform .action-button {
    width: 100px;
    background: skyblue;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

#msform .action-button:hover,
#msform .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px skyblue;
}


/*Previous Buttons*/

#msform .action-button-previous {
    width: 100px;
    background: #616161;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

#msform .action-button-previous:hover,
#msform .action-button-previous:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #616161;
}


/*Dropdown List Exp Date*/

select.list-dt {
    border: none;
    outline: 0;
    border-bottom: 1px solid #ccc;
    padding: 2px 5px 3px 5px;
    margin: 2px;
}

select.list-dt:focus {
    border-bottom: 2px solid skyblue;
}


/*The background card*/

.card {
    z-index: 0;
    border: none;
    border-radius: 0.5rem;
    position: relative;
}


/*FieldSet headings*/

.fs-title {
    font-size: 25px;
    color: #2C3E50;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: left;
}


/*progressbar*/

#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    color: lightgrey;
}

#progressbar .active {
    color: #dc9d3f;
}

#progressbar li {
    list-style-type: none;
    font-size: 12px;
    width: 20%;
    float: left;
    position: relative;
}


/*Icons in the ProgressBar*/

#progressbar #personas:before {
    font-family: FontAwesome;
    content: "\f2c0";
}

#progressbar #calendar:before {
    font-family: FontAwesome;
    content: "\f073";
}

#progressbar #hora:before {
    font-family: FontAwesome;
    content: "\f017";
}

#progressbar #zona:before {
    font-family: FontAwesome;
    content: "\f278";
}

#progressbar #confirm:before {
    font-family: FontAwesome;
    content: "\f2bc";
}


/*ProgressBar before any progress*/

#progressbar li:before {
    width: 50px;
    height: 50px;
    line-height: 45px;
    display: block;
    font-size: 18px;
    color: #ffffff;
    background: lightgray;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    padding: 2px;
}


/*ProgressBar connectors*/

#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: lightgray;
    position: absolute;
    left: 0;
    top: 25px;
    z-index: -1;
}


/*Color number of the step and the connector before it*/

#progressbar li.active:before,
#progressbar li.active:after {
    background: #dc9d3f;
}


/*Imaged Radio Buttons*/

.radio-group {
    position: relative;
    margin-bottom: 25px;
}

.radio {
    display: inline-block;
    width: 204;
    height: 104;
    border-radius: 0;
    background: lightblue;
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    cursor: pointer;
    margin: 8px 2px;
}

.radio:hover {
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.radio.selected {
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.1);
}


/*Fit image in bootstrap div*/

.fit-image {
    width: 100%;
    object-fit: cover;
}


/* ////////////////////////////////////////////////////// */

#reservation {
    text-shadow: black 1px 1px 1px;
}

#reservation button {
    text-shadow: black 1px 1px 1px;
}

#reservation .reservation section .section-people .people {
    /* position: relative; */
    /* min-height: 300px; */
    /* height: auto; */
    /* color: #fff; */
    text-align: left;
    /* padding: 5px 20px; */
    /* max-width: 400px; */
    /* width: 100%; */
    margin: 0 auto;
}

#reservation .people .person a {
    font-family: PublicSans-Medium;
    color: #fff;
    font-size: 18px;
    line-height: 28px;
    padding: 5px;
    border: 1px solid #fff;
    border-radius: 50%;
    text-decoration: none;
    width: 40px;
    height: 40px;
    display: block;
    text-align: center;
    margin: 0 auto;
}

#reservation .people .person a:hover {
    background: #dc9d3f;
    text-shadow: black 1px 1px 1px;
}

#reservation .people .horas a {
    font-size: 18px;
    line-height: 21px;
    padding: 6px;
    border: 1px solid #fff;
    border-radius: 14px;
    width: 100%;
    height: 35px;
    margin: 0 auto;
}

.orange {
    background-color: #dc9d3f !important;
}

.bloqueo {
    text-decoration: line-through !important;
    color: #9E9E9E !important;
    background: #555252;
}

.bloqueo:hover {
    background: transparent !important;
    color: #9E9E9E !important;
    background: #555252 !important;
}