<section aria-label="section-gallery">

    <!-- toggle gallery -->
    <div class="nav-bottom noselect intro">
        <div id="opengal">
            <i class="fa fa-angle-up"></i>
            <span>Galeria Platos</span>
        </div>
    </div>
    <!-- toggle gallery end -->

    <!-- gallery -->
    <div class="bottom-option noselect intro">

        <!-- close gallery -->
        <div class="nav-bottom-close">
            <span>Cerrar</span>
            <i class="fa fa-angle-down"></i>
        </div>
        <!-- close gallery end -->

        <!-- main gallery -->
        <div id="owl-gal" class="owl-carousel">

            <div class="item">
                <div class="port big-img">
                    <div class="hovereffect">
                        <a href="{{images[0]}}">
                            <img class="gray-color" [src]="images[0]" alt="imageportofolio" />
                            <div class="overlay">
                                <div class="wrap-overlay">
                                    <h2>SPECIAL FRESTO</h2>
                                    <div class="devider-yellow"></div>

                                </div>

                            </div>
                        </a>

                    </div>
                </div>
            </div>

            <div class="item">
                <div class="port big-img">
                    <div class="hovereffect">
                        <a href="{{images[1]}}">
                            <img class="gray-color" [src]="images[1]" alt="imageportofolio" />
                            <div class="overlay">
                                <div class="wrap-overlay">
                                    <h2>SPECIAL FRESTO</h2>
                                    <div class="devider-yellow"></div>

                                </div>

                            </div>
                        </a>

                    </div>
                </div>
            </div>

            <div class="item">
                <div class="port big-img">
                    <div class="hovereffect">
                        <a href="{{images[2]}}">
                            <img class="gray-color" [src]="images[2]" alt="imageportofolio" />
                            <div class="overlay">
                                <div class="wrap-overlay">
                                    <h2>SPECIAL FRESTO</h2>
                                    <div class="devider-yellow"></div>

                                </div>

                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="port big-img">
                    <div class="hovereffect">
                        <a href="{{images[3]}}">
                            <img class="gray-color" [src]="images[3]" alt="imageportofolio" />
                            <div class="overlay">
                                <div class="wrap-overlay">
                                    <h2>SPECIAL FRESRTO</h2>
                                    <div class="devider-yellow"></div>

                                </div>

                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="port big-img">
                    <div class="hovereffect">
                        <a href="{{images[4]}}">
                            <img class="gray-color" [src]="images[4]" alt="imageportofolio" />
                            <div class="overlay">
                                <div class="wrap-overlay">
                                    <h2>SPECIAL FRESTO</h2>
                                    <div class="devider-yellow"></div>

                                </div>

                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="port big-img">
                    <div class="hovereffect">
                        <a href="{{images[5]}}">
                            <img class="gray-color" [src]="images[5]" alt="imageportofolio" />
                            <div class="overlay">
                                <div class="wrap-overlay">
                                    <h2>SPECIAL FRESTO</h2>
                                    <div class="devider-yellow"></div>

                                </div>

                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="port">
                    <div class="hovereffect">
                        <a href="{{images[6]}}">
                            <img class="gray-color" [src]="images[6]" alt="imageportofolio" />
                            <div class="overlay">
                                <div class="wrap-overlay">
                                    <h2>SPECIAL FRESTO</h2>
                                    <div class="devider-yellow"></div>

                                </div>

                            </div>
                        </a>

                    </div>
                </div>
            </div>

            <div class="item">
                <div class="port">
                    <div class="hovereffect">
                        <a href="{{images[7]}}">
                            <img class="gray-color" [src]="images[7]" alt="imageportofolio" />
                            <div class="overlay">
                                <div class="wrap-overlay">
                                    <h2>SPECIAL FRESTO</h2>
                                    <div class="devider-yellow"></div>

                                </div>

                            </div>
                        </a>

                    </div>
                </div>
            </div>

        </div>
        <!-- main gallery end -->
    </div>
    <!-- gallery end -->
</section>