<section aria-label="section-gallery">

    <!-- toggle gallery -->
    <div class="nav-bottom noselect">
        <div id="opengal">
            <i class="fa fa-angle-up"></i>
            <span>Galeria Platos</span>
        </div>
    </div>
    <!-- toggle gallery end -->

    <!-- gallery -->
    <div class="bottom-option noselect">

        <!-- close gallery -->
        <div class="nav-bottom-close">
            <span>Cerrar</span>
            <i class="fa fa-angle-down"></i>
        </div>
        <!-- close gallery end -->

        <!-- main gallery -->
        <div id="owl-gal" class="owl-carousel">

            <div class="item">
                <div class="port big-img">
                    <div class="hovereffect">
                        <a href="../../../../../assets/img/portofolio/2.jpg">
                            <img class="gray-color" src="../../../../../assets/img/portofolio/1.jpg" alt="imageportofolio" />
                            <div class="overlay">
                                <div class="wrap-overlay">
                                    <h2>SPECIAL FRESTO</h2>
                                    <div class="devider-yellow"></div>
                                    <span class="price">$60</span>
                                </div>

                            </div>
                        </a>

                    </div>
                </div>
            </div>

            <div class="item">
                <div class="port big-img">
                    <div class="hovereffect">
                        <a href="../../../../../assets/img/portofolio/2.jpg">
                            <img class="gray-color" src="../../../../../assets/img/portofolio/2.jpg" alt="imageportofolio" />
                            <div class="overlay">
                                <div class="wrap-overlay">
                                    <h2>SPECIAL FRESTO</h2>
                                    <div class="devider-yellow"></div>
                                    <span class="price">$80</span>
                                </div>

                            </div>
                        </a>

                    </div>
                </div>
            </div>

            <div class="item">
                <div class="port big-img">
                    <div class="hovereffect">
                        <a href="../../../../../assets/img/portofolio/3.jpg">
                            <img class="gray-color" src="../../../../../assets/img/portofolio/3.jpg" alt="imageportofolio" />
                            <div class="overlay">
                                <div class="wrap-overlay">
                                    <h2>SPECIAL FRESTO</h2>
                                    <div class="devider-yellow"></div>
                                    <span class="price">$110</span>
                                </div>

                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="port big-img">
                    <div class="hovereffect">
                        <a href="../../../../../assets/img/portofolio/4.jpg">
                            <img class="gray-color" src="../../../../../assets/img/portofolio/4.jpg" alt="imageportofolio" />
                            <div class="overlay">
                                <div class="wrap-overlay">
                                    <h2>SPECIAL FRESRTO</h2>
                                    <div class="devider-yellow"></div>
                                    <span class="price">$120</span>
                                </div>

                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="port big-img">
                    <div class="hovereffect">
                        <a href="../../../../../assets/img/portofolio/5.jpg">
                            <img class="gray-color" src="../../../../../assets/img/portofolio/5.jpg" alt="imageportofolio" />
                            <div class="overlay">
                                <div class="wrap-overlay">
                                    <h2>SPECIAL FRESTO</h2>
                                    <div class="devider-yellow"></div>
                                    <span class="price">$99</span>
                                </div>

                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="port big-img">
                    <div class="hovereffect">
                        <a href="../../../../../assets/img/portofolio/6.jpg">
                            <img class="gray-color" src="../../../../../assets/img/portofolio/6.jpg" alt="imageportofolio" />
                            <div class="overlay">
                                <div class="wrap-overlay">
                                    <h2>SPECIAL FRESTO</h2>
                                    <div class="devider-yellow"></div>
                                    <span class="price">$115</span>
                                </div>

                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="port">
                    <div class="hovereffect">
                        <img class="gray-color" src="../../../../../assets/img/portofolio/7.jpg" alt="imageportofolio" />
                        <div class="overlay">
                            <div class="wrap-overlay">
                                <h2>SPECIAL FRESTO</h2>
                                <div class="devider-yellow"></div>
                                <span class="price">$110</span>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="port">
                    <div class="hovereffect">
                        <img class="gray-color" src="../../../../../assets/img/portofolio/8.jpg" alt="imageportofolio" />
                        <div class="overlay">
                            <div class="wrap-overlay">
                                <h2>SPECIAL FRESTO</h2>
                                <div class="devider-yellow"></div>
                                <span class="price">$50</span>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- main gallery end -->
    </div>
    <!-- gallery end -->
</section>