<section class="contentfastresto noselect" aria-label="section-home">
    <div class="row">
        <!-- row -->
        <div class="col-md-12">
            <h1 class="animfadeInUpBig" data-time="1500">Bienvenido a <span class="color">FastResto</span></h1>
            <div id="slidertext" class="animfadeInUpBig" data-time="1800">
                <div class="main-text">Nos encontramos en Lima</div>
                <div class="main-text">Atendemos Delivery y en mesa</div>
                <div class="main-text">Comida Fresca</div>
            </div>
            <div class="devider-center animfadeInUpBig" data-time="1700"></div>

            <div class="btn-home animfadeInRight" data-time="2400"><a class="popup-form link-class" href="#reservation">Reserve Ahora</a>
            </div>
        </div>
    </div>
    <!-- row end -->
</section>