<header>
    <div id="main-menu" class="menu-init intro">
        <!-- mainmenu start -->
        <nav>
            <ul>
              
                <li class="animfadeInRight intro" data-time="1400"><a class="intro" href="javascript:void(0);" [routerLink]="['/reservas']">Intranet</a>
                </li>
            </ul>
        </nav>
        <!-- mainmenu end -->
    </div>
    <!-- navigation mobile -->
    <div class="anim-nav intro" id="nav-icon">
        <div class="menu-line intro"></div>
        <div class="menu-line1 intro"></div>
        <div class="menu-line2 intro"></div>
    </div>
    <!-- navigation mobile end -->
</header>