<header>
    <div id="main-menu" class="menu-init">
        <!-- mainmenu start -->
        <nav>
            <ul>
                <li class="animfadeInRight" data-time="1500"><a class="popup-form link-class" href="#reservation">Reservación</a>
                </li>
                <li class="animfadeInRight" data-time="1400"><a href="contact.html">Intranet</a>
                </li>
            </ul>
        </nav>
        <!-- mainmenu end -->
    </div>
    <!-- navigation mobile -->
    <div class="anim-nav" id="nav-icon">
        <div class="menu-line"></div>
        <div class="menu-line1"></div>
        <div class="menu-line2"></div>
    </div>
    <!-- navigation mobile end -->
</header>